.blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.5rem 5rem 3.5rem 5rem;
    background-color: var(--white-2);
}

.blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .blog-header {
    h2 {
        font-size: 1.75rem;
        margin-bottom: .5rem;
    }

    p {
        font-weight: 300;
        color: var(--gray);
        font-style: italic;
    }
}

.post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post img {
    width: 100%;
}

.post h3 {
    font-size: 1.75rem;
}

.post p {
    font-weight: 300;
    color: var(--gray);
}

.post a {
    font-weight: 300;
    color: var(--black-2);
}

.custom-pagination-blog {
    display: flex;
    justify-content: end;
  }

  .custom-pagination-blog .bullet {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  .custom-pagination-blog .bullet-active {
    background-color: var(--black-2);
  }

  .custom-pagination-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-top: .2rem;
    }
  }