header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.location {
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: var(--white);
    padding: 0.625rem 1.5rem 0.625rem 1.5rem;
}

.alterar-localidade {
    cursor: pointer;
}

.alterar-localidade,
.localidade {
    text-decoration: underline;
    text-decoration-color: var(--white-dim);
}

.menu {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 5rem 0;
    gap: 1rem;

    .text {
        color: var(--white);
        text-decoration: none;
    }

    .dark {
        color: var(--black-2);
    }

    #menu-outlet {
        color: var(--red);
        text-decoration: none;
    }
}

.menu .options {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.scrolled {
    background-color: var(--white);
}

.menu-esquerda,
.menu-direita {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.options .logo {
    align-self: start;
}

.menu-direita {
    align-self: start;
}

#menu-produtos {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding-bottom: 1.5rem;
}

.menu-esquerda a {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid transparent;
}

#menu-produtos.active,
.menu-esquerda a.active {
    border-bottom: 1px solid var(--black-2);
}

.header-carrinho {
    display: flex;
    gap: .5rem;
    align-items: center;
}