@import url(./styles.css);

body {
    overflow: auto;
}

.home-page {
    font-family: var(--font);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.location {
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: var(--white);
    padding: 0.625rem 1.5rem 0.625rem 1.5rem;
}

.alterar-localizacao,
.local {
    text-decoration: underline;
    text-decoration-color: var(--white-dim);
}

.menu {
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5rem 1.5rem 5rem;


    .text {
        color: var(--white);
        text-decoration: none;


    }

    .dark {
        color: var(--black-2);
    }

    .outlet {
        color: var(--red);
    }

}

.scrolled {
    background-color: var(--white);
}

.menu-esquerda,
.menu-direita {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.header-carrinho {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.banner-principal {
    /* padding-bottom: 3rem; */
    position: relative;
    img {
        max-width: 100%;
    }
}

.banner-principal button {
    border: 1px solid var(--white);
    background-color: var(--pink-2);
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.082);
    color: var(--white);
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    text-decoration: underline;
    text-decoration-color: var(--white-dim);
    cursor: pointer;
    position: absolute;
    z-index: 999;
    bottom: 5%;
    right: 46%;
}
#pagination-principal .swiper-pagination-bullet {
    background-color: var(--white);
}

.categorias {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.5rem 5rem 4rem 5rem;

    h2 {
        font-size: 1.75rem;
    }

}

.categorias-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.categoria {
    img {
        width: 100%;
        margin-bottom: 1rem;
    }

    p {
        color: var(--black-2);
        font-weight: 300;
    }
}

.banner-navegacao {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bege);

        img {
            width: 60%;
        }
    }

    img {
        width: 100%;
    }
}

.lancamentos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 5rem 3.5rem 5rem;
}

.lancamentos-items {
    display: flex;
    gap: 1rem;
}

.lancamentos h2 {
    font-size: 1.75rem;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-2);
    width: 21rem;
    height: 21rem;
    position: relative;
}

.add-to-fav,
.add-to-cart,
.off {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    margin: .5rem;
}

.add-to-fav {
    top: 0;
    right: 0;
}

.add-to-cart {
    bottom: 0;
    right: 0;
}

.off {
    bottom: 0;
    left: 0;
    color: var(--red);
    font-size: .9rem;
    cursor: default;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem 0;
}

.item-info .desc {
    font-weight: 300;
    color: var(--black-2);
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.5rem 5rem 3.5rem 5rem;
    background-color: var(--white-2);
    
}

.blog .title {
    h2 {
        font-size: 1.75rem;
        margin-bottom: .5rem;
    }

    p {
        font-weight: 300;
        color: var(--gray);
        font-style: italic;
    }
}

#pagination-blog .swiper-pagination-bullet {
    background-color: var(--black-2);
}
.post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post img {
    width: 100%;
}

.post h3 {
    font-size: 1.75rem;
}

.post p {
    font-weight: 300;
    color: var(--gray);
}

.post a {
    font-weight: 300;
    color: var(--black-2);
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-3);
    padding: 2rem 1rem;
    gap: 1rem;
}

.newsletter p {
    color: var(--red);
    margin-right: 1rem;

    strong {
        font-weight: bold;
    }
}

.newsletter input {
    background-color: var(--white);
    border: 1px solid var(--white-3);
    padding: .9rem 1.5rem;
    width: 18.75rem;

    &::placeholder {
        color: var(--gray);
        font-size: .9rem;
    }
}

.newsletter button {
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    padding: .9rem 1.5rem;
    width: 18.75rem;
    cursor: pointer;
}

.about {
    background-color: var(--red);
    padding: 15.625rem 3rem 15.625rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about .bbc {
    width: 40rem;
}

.direita {
    display: flex;
    align-items: center;
    gap: 6rem;
    margin-right: 8rem;
}

.redes {
    display: flex;
    gap: 1rem;
}

.sobre,
.politicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--white);

    h3 {
        font-weight: 600;
    }

    a {
        color: var(--white);
        text-decoration-color: var(--white-dim);
    }
}