.menu-mobile {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1005;
    background-color: var(--white);
}

.menu-mobile-header {
    display: flex;
    flex-direction: column;
}

.menu-mobile-header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.menu-mobile-banner img {
    width: 100%;
    position: relative;
}

 .banner-info {
    position: absolute;
    top: 18%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 1rem;
    font-size: .875rem;
}

.banner-info p {
    color: var(--white);
    font-weight: 600;
}

.banner-info a {
    color: var(--white);
    text-decoration-color: var(--white-dim);
    font-weight: 300;
}

.menu-mobile-close {
    border: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-mobile-close img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-mobile-options {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem;
}

.menu-mobile-options li:last-child {
    color: var(--red);
}

.menu-expand .option {
    display: flex;
    justify-content: space-between;
}

.menu-expand-empty .option {
    display: flex;
    justify-content: space-between;
}

.menu-expand img {
    width: 10px;
}

.menu-expand-empty img {
    width: 10px;
}

.menu-expand ul {
    display: none;
    font-weight: 300;
    margin: 1rem 1rem 0;
    flex-direction: column;
    gap: 2rem;
}

.menu-expand ul li:last-child {
    color: var(--red);
}

.menu-expand ul li:hover {
    text-decoration: underline;
    text-decoration-color: var(--gray);
}