.modal-cep-background {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 10001;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.modal-cep {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 40rem;
    height: 20rem;
    gap: 2rem;
    padding: 0 2rem 2rem;
}

.close-button-cep {
    align-self: end;
    border: none;
    cursor: pointer;
    margin-right: -2rem;
}

.modal-cep h2 {
    font-size: 1.125rem;
    color: var(--black-2);
}

.modal-cep-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cidade-estado {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.modal-cep input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--white-3);
    &:focus {
        border: 1px solid var(--gray);
        outline: 0;
    }
}

.cidade,
.estado {
    flex: 1;
}

.modal-cep p {
    margin-bottom: .5rem;
}

.save-cep {
    padding: 0.75rem 1.5rem;
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
}