.banner-navegacao {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bege);

        img {
            width: 60%;
        }
    }

    img {
        width: 100%;
    }
}
