.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-3);
    padding: 2rem 1rem;
    gap: 1rem;
    transition: gap 0.2s;
    position: relative;
}

.newsletter p {
    font-size: 1.125rem;
    color: var(--red);
    margin-right: 1rem;

    strong {
        font-weight: bold;
    }
}

.newsletter .mensagem-erro {
    color: var(--red);
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    margin-bottom: .8rem;
    left: 47%;
}

.newsletter input {
    background-color: var(--white);
    border: 1px solid var(--white-3);
    padding: 0.9rem 1.5rem;
    width: 15%;

    &::placeholder {
        color: var(--gray);
        font-size: 0.9rem;
    }
}

.newsletter button {
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    padding: 0.9rem 1.5rem;
    width: 15%;
    cursor: pointer;
}
.newsletter.clicado {
    gap: 0rem;
}

.newsletter.clicado {
    
    p:nth-child(1) {
        color: var(--black-2);
        padding-right: 2rem;
    }

    div {
        display: flex;
    }

    div p:nth-child(1) {
        background-color: var(--white);
        border: 2px dashed var(--gray);
        border-radius: 2rem 0 0 2rem;
        padding: 0.7rem 1.5rem;
        margin-right: 0;
        width: 12rem;
        text-align: center;
    }

    button {
        border-radius: 0 2rem 2rem 0;
        width: 10rem;
    }
}

@media screen and (max-width: 430px) {
    .newsletter {
        flex-direction: column;
        gap: 2rem;
    }

    .newsletter p {
        text-align: center;
    }

    .newsletter input {
        width: 85%;
    }
    .newsletter button {
        width: 97%;
    }

    .newsletter .mensagem-erro {
        color: var(--red);
        font-size: 0.9rem;
        position: absolute;
        bottom: 30%;
        left: 5%;
    }

    .newsletter.clicado {
        gap: 1rem;

        p:nth-child(1) {
            padding-right: 0;
        }
        div {
            display: flex;
        }

        div p:nth-child(1) {
            width: 10rem;
        }
        button {
            width: 8rem;
        }
    }
}